NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=EbYmsXdALmF4GHY5JQT2Rv5fqC2Nws2qFcnh4B1QXE3U
# id of the market created on that cluster (see scripts/replay or your deploy)
NEXT_PUBLIC_MARKET_ID=1
