NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS
# id of the market created on that cluster (see scripts/replay or your deploy)
NEXT_PUBLIC_MARKET_ID=1
